.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
.circleci
node_modules
src
test
.gitignore
.babelrc
.DS_Store
.coveralls.yml
jsdoc.json
brench
.nycrc
.jshintrc
.gitignore
.eslintrc.yml
.eslintrc
.eslintignore
.codeclimate.yml
yarn.lock
.nyc_output
coverage
.idea