{
  "include": [
      "src/**/*.ts",
      "test/**/*.ts"
    ],
    "extension": [
      ".ts"
    ],
    "require": [
      "ts-node/register"
    ],
    "reporter": [
      "lcov",
      "text-summary",
      "html"
    ],
    "sourceMap": true,
    "instrument": true,
    "cache": false,
    "all": false,
    "report-dir": "./coverage"
}
