{
    "check-coverage": false,
    "lines": 99,
    "statements": 99,
    "functions": 99,
    "branches": 99,
    "include": [
      "./di.js",
      "./test/di-interfaces.spec.js"
    ],
    "reporter": [
      "lcov",
      "text-summary"
    ],
    "require": [],
    "extension": [
      ".js"
    ],
    "cache": false,
    "all": false,
    "sourceMap": true,
    "instrument": true,
    "report-dir": "./coverage"
}
